<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Basic Video Call -- Agora</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/call.css" />
  </head>
  <body>
    <div class="containers" style="width: 100%; margin: 0;">
      <form id="join-form">
        <div
          class="row join-info-group"
          style="position: absolute; opacity: 0; z-index: -10; top: -500px"
        >
          <div class="col-sm">
            <p class="join-info-text">APP ID</p>
            <input id="appid" type="text" placeholder="Enter the appid" />
            <p class="tips">
              You find your APP ID in the
              <a href="https://console.agora.io/projects">Agora Console</a>
            </p>
          </div>
          <div class="col-sm">
            <p class="join-info-text">Channel Name</p>
            <input
              id="channel"
              type="text"
              placeholder="Enter the channel name"
            />
            <p class="tips">
              You create a channel when you create a temporary token. You
              guessed it, in
              <a href="https://console.agora.io/projects">Agora Console</a>
            </p>
          </div>
        </div>

        <!--
      Join or leave a Video Call channel.
    -->
        <div class="button-group">
          <button id="join" type="submit" class="btn btn-primary btn-sm">
            Join
          </button>
          <button
            id="leave"
            type="button"
            class="btn btn-primary btn-sm"
            disabled
          >
            Leave
          </button>
        </div>
      </form>
      <div id="main" >
       
      </div>
      <div class="head">Calling....</div>
      <!--
    This local media splayer is enabled when the user has successfully joined a Video Call channel.
  -->
      <p id="local-player-name" class="player-name"></p>
      <div id="local-player" class="player"></div>
      <div style="width:300px; height: calc( 100vh - 180px ); margin-top: 100px;" class="custom_scrollBar">

        <div id="remote-playerlist" class="otherDiv"></div>
      </div>
    </div>

    <!--
  Import the Agora Video Call SDK for Web and local calls to it.
-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
      integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
    <script src="/js/call.js"></script>
  </body>
</html>
