<!DOCTYPE html>
<html lang="zxx">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Margo | Cart</title>
	<link rel="icon" href="/img/logo.png" type="image/gif">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/cart/bootstrap.css">
	<link rel="stylesheet" href="/css/cart/magnific-popup.min.css">
	<link rel="stylesheet" href="/css/cart/font-awesome.css">
	<link rel="stylesheet" href="/css/cart/jquery.fancybox.min.css">
	<link rel="stylesheet" href="/css/cart/themify-icons.css">
	<link rel="stylesheet" href="/css/cart/niceselect.css">
	<link rel="stylesheet" href="/css/cart/animate.css">
	<link rel="stylesheet" href="/css/cart/flex-slider.min.css">
	<link rel="stylesheet" href="/css/cart/owl-carousel.css">
	<link rel="stylesheet" href="/css/cart/slicknav.min.css">
	<link rel="stylesheet" href="/css/cart/reset.css">
    <link rel="stylesheet" href="/css/cart/responsive.css">
	<link rel="stylesheet" href="/css/pamperBooth.css">
	<link rel="stylesheet" href="/css/cart/style.css">
</head>

<body class="js">
	<div class="navbar">
		<img src="/img/Website Logo.png" id="website-logo">
		<ul class="navbar-links">
			<li><a href="/" class="period-tracker">Home</a></li>
			<li><a href="/tracker" class="period-tracker">Period Tracker</a></li>
			<li><a href="/pamperBooth" class="pamper-booth">Pamper Booth</a></li>
			<li><a href="/forum"  class="forum">Forum</a></li>
			<li><a href="/blog" class="period-tracker">Blog</a></li>
			<li><a href="/products" class="shop">Shop</a></li>
			<li><a href="/videoCall" class="call">Call</a></li>
		</ul>
		<button class="start-here"> <a style="text-decoration: none;" href="/profile">Profile</a> </button>
	</div>
	<br><br>
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
		
		<!-- Header -->
		<header class="header shop">
					</header>
	
			
	<!-- Shopping Cart -->
	<div class="shopping-cart section" style="width: 100vw;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Shopping Summery -->
					<table class="table shopping-summery">
						<thead>
							<tr class="main-hading">
								<th>PRODUCT</th>
								<th>NAME</th>
								<th class="text-center">UNIT PRICE</th>
								<th class="text-center">QUANTITY</th>
								<th class="text-center">TOTAL</th> 
								<th class="text-center"><i class="ti-trash remove-icon"></i></th>
							</tr>
						</thead>
						<tbody>
							
							
						</tbody>
					</table>
					<!--/ End Shopping Summery -->
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Total Amount -->
					<div class="total-amount">
						<div class="row">
							<div class="col-lg-8 col-md-5 col-12">
								<div class="left">
									
								</div>
							</div>
							<div class="col-lg-4 col-md-7 col-12">
								<div class="right">
									<ul style="display: flex; flex-direction: column !important;">
										<li class="cart-subtotal">Cart Subtotal<span>Rs. 0</span></li>
										<li class="shipping">Shipping<span></span></li>
										<li class="last">You Pay<span>Rs. 0</span></li>
									</ul>
									<div class="button5">
										<div class="btn" onclick = AlertHandler()>Checkout</div>
										<a href="/products" class="btn">Continue shopping</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/ End Total Amount -->
				</div>
			</div>
		</div>
	</div>
	<!--/ End Shopping Cart -->
			
	<!-- Start Shop Services Area  -->
	<section class="shop-services section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-rocket" style="color:#006CB4"></i>
						<h4>Free Shipping</h4>
						<p>Orders over Rs.1000</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-reload" style="color:#006CB4"></i>
						<h4>Free Return</h4>
						<p>Within 30 days returns</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-lock" style="color:#006CB4"></i>
						<h4>Secure Payment</h4>
						<p>100% secure payment</p>
					</div>
					<!-- End Single Service -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Start Single Service -->
					<div class="single-service">
						<i class="ti-tag" style="color:#006CB4"></i>
						<h4>Best Price</h4>
						<p>Guaranteed price</p>
					</div>
					<!-- End Single Service -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Services Area -->
	

	
	
	
	
	

	
    <script src="/js/cart/jquery.min.js"></script>
    <script src="/js/cart/jquery-migrate-3.0.0.js"></script>
	<script src="/js/cart/jquery-ui.min.js"></script>
	<script src="/js/cart/slicknav.min.js"></script>
	<script src="/js/cart/owl-carousel.js"></script>
	<script src="/js/cart/magnific-popup.js"></script>
	<script src="/js/cart/facnybox.min.js"></script>
	<script src="/js/cart/waypoints.min.js"></script>
	<script src="/js/cart/finalcountdown.min.js"></script>
	<script src="/js/cart/nicesellect.js"></script>
	<script src="/js/cart/ytplayer.min.js"></script>
	<script src="/js/cart/flex-slider.js"></script>
	<script src="/js/cart/scrollup.js"></script>
	<script src="/js/cart/onepage-nav.min.js"></script>
	<script src="/js/cart/easing.js"></script>
	<script src="/js/cart/active.js"></script>
	<script src="/js/cart/cart.js"></script>
	<script>
		function AlertHandler(){
			alert("Your order has been placed!");
			localStorage.setItem("cart",JSON.stringify({}))
			window.location.href="/products"
		}
	</script>
</body>
</html>