<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landingPageStyle.css">
    <title>Margo | Home</title>
    <link rel="icon" href="/img/logo.png" type="image/gif">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="/img/Website Logo.png" id="website-logo">
            <ul class="navbar-links">
                <li><a href="/" class="period-tracker">Home</a></li>
                <li><a href="/tracker" class="period-tracker">Period Tracker</a></li>
                <li><a href="/pamperBooth" class="pamper-booth">Pamper Booth</a></li>
                <li><a href="/forum"  class="forum">Forum</a></li>
                <li><a href="/blog" class="period-tracker">Blog</a></li>
                <li><a href="/products" class="shop">Shop</a></li>
                <li><a href="/videoCall" class="call">Call</a></li>
            </ul>
         <button class="start-here"> <a style="text-decoration: none;" href="/tracker">Start Here</a> </button>
        </div>

        <div class="hero-section">
            <div class="corner-bg-blue-div">
                <div class="hero-heading">One Stop Solution For All Your Menstrual Needs</div>
                <div class="hero-text">Margo is a product created uniquely for females to track their periods, notify their loved ones about their mood, discuss and chat with other females for common menstrual issues and shop for menstrual hygiene products. </div>
                <div>
                </div>
            </div>
            <div>
                <img src="/img/header-image-edited-overlay.png" class="hero-image">
            </div>
        </div>
    

        <div class="our-services-section">
            <div>
                <p class="our-services-heading">01. Our Services</p>
                
                <img src="/img/period-tracker-icon.png" class="period-tracker-icon">
                <img src="/img/notifications-icon.png" class="notifications-icon">
                <img src="/img/pamper-booth-icon.png" class="pamper-booth-icon">
                <img src="/img/secure-forum-icon.png" class="secure-forum-icon">
                <img src="/img/shop-icon.png" class="shop-icon">
                <img src="/img/spotify-integration-icon.png" class="spotify-integration-icon">

                <p class="period-tracker-heading small-heading">
                    Period Tracker
                </p>
                <p class="notifications-heading small-heading">
                    Video Call
                </p>
                <p class="pamper-booth-heading small-heading">
                    Pamper Booth
                </p>
                <p class="secure-forum-heading small-heading">
                    Secure Forum
                </p>
                <p class="shop-heading small-heading">
                    Shop
                </p>
                <p class="spotify-integration-heading small-heading">
                    Spotify Integration
                </p>
                

                <p class="period-tracker-text small-text">
                    Track your periods by answering 3 simple questions and experience beautiful visualisations coupled with personalised period predictions.
                </p>
                <p class="notifications-text small-text">Video call with loved ones and feel better in their vitual presence.</p>
                <p class="pamper-booth-text small-text">Down with period cramps? Uplift your mood here. 
                    Play music, track your mood and notify your loved ones to get chocolates and warm hot bags.</p>
                <p class="secure-forum-text small-text">Post your queries, respond to others’ queries. 
                    Our platform detects cuss words and filters them out making your experience wholesome.</p>
                <p class="shop-text small-text">For all your menstrual hygiene needs. 
                    Sanitary napkins, tampons, sustainable hygiene products - we got them all. </p>
                <p class="spotify-integration-text small-text">Your music, made just for you. 
                    Your playlists are curated based on your taste of music. </p>

            </div>
        </div>
        
    </div>
</body>
</html>